html {
  font-family: sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto 0 auto;
  background-color: #F2F2F2;
}

header {
  background-color: #333;
  font-size: 14px;
}


header a {
  color: #fff;
  text-decoration: none;
  padding: 6px 16px 6px 7px;
  margin: 5px;
}

header a:hover, header span:hover {
  color: #01d4fa;
  background-color: #111;
}

header #nav-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111;
  cursor: pointer;
}

header #navigation {
  float: right;
  padding: 5px 0;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  box-shadow: 0 0 7px #8a8a8a;
}

header #navigation > .item {
  position: relative;
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 11px;
  height: 25px;
  white-space: nowrap;
}

header #navigation > .item:first-child {
  padding-left: 12px;
}

header #navigation > .item > .label {
  color: #fff;
  line-height: 25px;
  vertical-align: middle;
}

header .sub-menu {
  padding: 0px;
  left: 0;
  display: none;
  position: absolute;
  background-color: #111;
  overflow: visible;
  z-index: 2;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

header .sub-menu a {
  display: block;
}

/*
 * PET dashboard
 */
#dashboard {
  background-color: #fff;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

th, td {
  border: 1px solid #fff;
  padding: 5px 0;
}

td {
  padding-left: 10px;
}

th {
  background-color: #E6E6E6;
}

tr:nth-child(even) {
  background-color: #EFF8FB;
}

#title {
  margin-left: 20px;

}


/*
 * PET content
 */
#sku {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 5px;
}

#pet-title {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

#detail-info {
  width: 50%;
  float: left;
}

#detail-info > div:nth-child(n) {
  margin-top: 15px;
}

/*
 * images gallery
 */
#product-gallery {
  float: left;
  margin-left: 25px;
}

#product-gallery .gallery-image {
  display: block;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

#product-gallery .selected {
  border: 1px solid #000;
}

.product-imagebox-layout {
  padding-bottom: 20px;
  float: left;
  display: block;
}

.product-imagebox-layout #product-image img{
  margin: 0 12px 12px 12px;
  padding: 0 20px 0 25px;
  cursor: zoom-in;
  border-left: 1px solid #C0C0C0;
}


#product-thumbnail {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  background-color:rgba(0,0,0,0.8);
  overflow:visible;
  text-align: center;
  vertical-align: auto;
  z-index: 1;
}

#description textarea{
  height: 150px;
}


input[type=text], input[type=password], select {
    padding: 5px 5px;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
}

textarea {
    padding: 5px 5px;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
}

#submission button {
    width: 30%;
    padding: 14px 20px;
    margin: 8px 30px;
}

.add-btn {
    margin-bottom: 5px;
    float: right;
}


/*
 * CMS style
 */
.ui-formRow {
  margin-top: 15px;
}

.ui-formCol1 {
  width: 15%;
}

.ui-formCol2 {
  width: 60%;
}

.ui-formCol3 {
  margin-left: 20px;
  vertical-align: middle;
}

.ui-formCol1, .ui-formCol2, .ui-formCol3 {
  display: inline-block;
}

.ui-submit-field input {
  margin-top: 10px;
  width: 100px;
  padding: 2px 0;
}

.error-msg ul{
  color: red;
  list-style-type: none;
  -webkit-margin-before: -4px;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.off {
  display: none;
}

/*
 * Image manager css
 */
#open-btn {
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 20px 0;
  width: 80px;
  cursor: pointer;
}
#image-manager-container {
  display: none;
}

#image-manager-popup {
  border: 1px solid #f1f1f1;
  position: absolute;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0 0 3px #8a8a8a;
  -moz-box-shadow: 0 0 3px #8a8a8a;
  box-shadow: 0 0 3px #8a8a8a;
}

#image-menu-bar {
  border-right: 1px solid #fff;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7x;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7x;
  overflow: auto;
  float: left;
}

#image-list {
  border-left: 1px solid #fff;
  background-color: #fff;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7x;
  overflow: scroll;
  float: right;
}

#image-preview {
  border-left: 1px solid #fff;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7x;
  overflow: scroll;
  float: right;
  margin-top: 4px;
}

#image-close {
  position: absolute;
  cursor: pointer;
}

#image-menu-bar ul {
  list-style-type: none;
  -webkit-padding-start: 20px;
  cursor: pointer;
}

#image-menu-bar ul .folder-name {
  margin-right: 7px;
  position: relative;
  top: 3px;
}

#image-menu-bar ul.close-folder .folder-name {
  margin-right: 7px;
  position: relative;
  top: 3px;
}

#image-menu-bar ul li::before {
  content: url("../img/icon/file.png");
  margin-right: 3px;
  position: relative;
  top: 3px;
}



#image-menu-bar ul li {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2em;
  display: block;
}

.menu-collapse li {
  visibility: collapse;
}

#image-list {
  
}

#image-list img {
  cursor: pointer;
  margin-right: 5px;
  display: inline-table;
}

#image-url-text {
  line-height: 30px;
  height: 30px;
  background-color: #D8D8D8;
  vertical-align: middle;
  text-align: right;
  padding-right: 10em;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7x;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7x;
}

#image-preview {
  display: none;
  float: right;
}

#image__open{
  cursor: pointer;
}

#open-file-container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
}

#open-file-popup {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5x;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
}

#open-file-popup input[type=file] {
  margin-top: 7px;
  margin-bottom: 2em;
}

.submit-container{
  border-top: 1px solid #D8D8D8;
  padding-top: 1em;
}

.submit-container button {
  width: 7em;
}

#open-file-popup button[type=reset] {
  margin-right: 7em;
}


.pet-detail__container fieldset {
  display: block;
  width: 68%;
  margin-right: 30px;
  margin-left: 20px;
  border: 0;
  float: left;
}

.pet-detail__container span {
  padding-top: 20px;
  padding-bottom: 4px;
  display: block;
}

.pet-detail__container input[type='submit']{
  clear: both;
  margin-top: 20px;
}

.pet-images {
  margin-right: 20px;
}

.illustration-image {
  width: 200px;
  height: 300px;
  border: 1px solid #000;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}

.open-file {
  margin-top: 20px;
}


#pet-submenu ul {
  list-style-type: none;
  line-height: 25px;
  padding: 4px 10px 0px 10px;
  margin: 10px 10px 0px 10px;
  overflow: auto;
  background-color: #F2F2F2;
  position: relative;
}

#pet-submenu li {
  position: relative;
  float: left;
  width: 7%;
  background-color: #E6E6E6;
  text-align: center;
  margin-right: 5px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
}

#pet-submenu li:hover {
  background-color: #fff;
}

#pet-submenu li.active {
  background-color: #fff;
  font-weight: bold;
}

.pet-detail__container > div.enable {
  display: block;
}

.pet-detail__container > div {
  display: none;
}