html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto 0 auto;
  background-color: #F2F2F2;
}

header {
  padding: 0;
  background-color: #000033;
  height: 80px;
  display: block;
  color: #ffffff;
  position: relative;
}

header div {
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 10px 0px 10px 0px;
}

header .header-logo {
  float: left;
  display: block;
}

header img {
  width: 60px;
  padding-right: 20px;
}

header .header-title {
  font-size: 25px;
  font-weight: 400;
  float: left;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 60px;
}


header .header-navigation {
  text-transform: uppercase;
  list-style-type: none;
  float: right;
  line-height: 60px;
}



header .header-navigation li {
  float: left;
  margin: auto 40px;
  font-weight: 700;
  font-size: 14px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background-color: #FDFDFD;
  display: block;
  margin-top: 20px;
  clear: both;
}

footer .footer-main {
  width: 1200px; 
  margin: 0 auto 0 auto; 
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.container{
  width: 1200px;
  margin: 0 auto 0 auto;
  overflow: auto;
  background-color: #fff;
}

.home-floor-layout-container {
  display: block;
  margin-top: 15px;
}

.left-sidebar {
  text-transform: uppercase;
  float: left;
  display: block;
  width: 15%;
  border-right: solid 1px #C0C0C0;
}

.left-sidebar ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.left-sidebar ul li {
  padding: 14px 0;
  background-color: #fff;
  left: 0;
}

.left-sidebar ul li:hover {
  background-color: #000033;
}

.left-sidebar a.category-tree {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}

.ups {
  float: right;
  width: 20%;
  border-left: solid 1px #C0C0C0;
}

.ups span {
  display: block;
  line-height: 12.0pt;
  padding: 10px 0;
  padding-left: 10px;
}

.ups .ups-title {
  text-transform: uppercase;
  background-color: #D8D8D8;
  border-left: solid 3px #003366;
  padding-left: 10px;
}


.homepage-banner {
  float: left;
  position: relative;
  height: 320px;
  width: 1200px;
  overflow: hidden;
}

.homepage-banner img {
  clear: both;
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  transform: translate3d(0,0,0);
}

.banner-scroll img.active {
  display: block;
}

.homepage-banner #left-arrow {
  position: absolute;
  z-index: 1;
  left: 10px;  
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/left_arrow.png');
}

.homepage-banner #left-arrow:hover {
  background: url('../img/left_arrow_hover.png');
}

.homepage-banner #left-arrow.inactive {
  background: url('../img/left_arrow_inactive.png');
}

.homepage-banner #right-arrow {
  position: absolute;
  z-index: 1;
  left: 90%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/right_arrow.png');
}

.homepage-banner #right-arrow:hover {
  background: url('../img/right_arrow_hover.png');
}

.homepage-banner #right-arrow.inactive {
  background: url('../img/right_arrow_inactive.png');
}

.floor {
  clear: both;
  display: block;
  float: left;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

.floor .floor-separater {

}

.floor .floor-title {
  background-color: #D8D8D8;
  color: #000000;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-top: solid 3px #003366;
  display: block;
}

/*
 * product card property
 */

.navigator {
  width: 20px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  top: 45%;
}

#flex-left-navigator {
  background: url('../img/icon/icon-arrow-left.png');
  left: 10px;
}

#flex-right-navigator {
  background: url('../img/icon/icon-arrow-right.png');
  right: 10px;
}


.product-placeholder-content {
  width: 93.5%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.product-list {
  position: relative;
  left: 0;
}

.product-card {
  cursor: pointer;
  float: left;
  display: table-cell;
  margin: 10px 7px 10px 7px;
  padding: 2px;
  text-align: center;
  width: 260px;
  height: 440px;
  position: relative;
  border: 1px solid transparent;
}

.border-outline {
  border: 1px solid #bdbdbd;
}

.product-card-img img {
  max-width: 250px;
  max-height: 358px;
}

.detail-list .product-card {
  margin: 10px 16px;
}


.product-name-big {
  font-weight: 700;
  font-size: 15px;
  color: #4c4849;
  line-height: 15pt;
  position: relative;
  padding: 0 5px;
}

.button-order {
  text-transform: uppercase;
  text-align: center;
}

.button-order a {
  background-color: #003366;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  display: block;
  width: 98.5%;
  position: absolute;
  bottom: 2px;
}


/*
 * header-breadcrumb css
 */
.header-breadcrumb {
  line-height: 36px;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  background-color: #F2F2F2;
  width: 100%;
}

.header-breadcrumb ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.header-breadcrumb ul li {
  float: left;
  display: block;
  margin-right: 10px;
}

.header-breadcrumb ul li a {
  color: #199cb7;
  text-decoration: none;
}

#product-title {
    line-height: 26px;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #C0C0C0;
}

.product-detail-page {

}

.product-info {
  background-color: #fff;
  overflow: auto;
}

.product-description-wrapper {
  padding: 15px 0 0 40px;
  float: left;
  position: relative;
}

.product-description-title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}

.product-description-content table {
  margin: 15px 0 10px 0;
  float: left;
} 

.product-description-content td:first-child {
  padding: 15px 90px 15px 0px;
  margin-right: 10px;
}

/*
 * images gallery
 */
#product-gallery {
  float: left;
  margin-left: 25px;
}

#product-gallery .gallery-image {
  display: block;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

#product-gallery .selected {
  border: 1px solid #000;
}

.product-imagebox-layout {
  padding-top: 10px;
  padding-bottom: 20px;
  float: left;
}

.product-imagebox-layout #product-image img{
  margin: 12px;
  padding: 0 20px 0 25px;
  cursor: zoom-in;
  border-left: 1px solid #C0C0C0;
}


#product-thumbnail {
width:100%;
height:100%;
display:none;
position:fixed;
background-color:rgba(0,0,0,0.8);
overflow:visible;
text-align: center;
vertical-align: auto;
  z-index: 1;
}

#order-button {
  background-color: #000033;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border: none;
  width: 200px;
  padding: 12px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 100%;
}


/*
 *
 */
.news-list-container {
  margin: 20px;
}

.news-list-container .news-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;

}

.news-list {
  list-style: none; 
  line-height: 18pt;
  -webkit-padding-start: 0px;
}

.news-list li {
  display: none;
}

.news-list-container a {
  text-decoration: none;
  color: #000;
}

.pager {
  position: relative;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;

}

.pager div {
  margin: 0 7px;
  display: inline-flex;
}

.pager > .hidden {
  display: none;
}

.paging a {
  padding: 5px 8.6px;
}

.paging a:hover {
  background-color: #bdbdbd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.active-page {
  background-color: #CEE3F6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

